# 忽略所有文件
/*

# 例外规则：明确要跟踪的内容
!/pictures/
!/style/
!/fonts/
!/code/
!main.tex
!main.pdf
!README.md
!.gitignore
!*.bib
!tutorial.md

/pictures/tikz/**/*.gz
/pictures/tikz/**/*.aux
/pictures/tikz/**/*.log

!makefile